fastapi
uvicorn[standard]
supabase
groq
langchain-text-splitters
PyMuPDF
python-multipart
python-dotenv
pydantic[email]
httpx
numpy
duckduckgo-search
youtube-transcript-api
Pillow
google-api-python-client==2.194.0
requests==2.32.3
python-docx
python-pptx
openpyxl
pandas